/* POSITION */
.leaderboard-first-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1){
    color: gold !important;
}
/* HOVER ROW */   
.leaderboard-first-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1):hover{
    text-shadow: 0px 0px 10px rgb(255, 215, 0);
    transition: text-shadow 0.4s ease-in-out;
}
/* NAME */
.leaderboard-first-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(2){
    color: gold !important;
}

/* NAME */
.leaderboard-second-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(2){
    color: silver !important;
}
/* POSITION */
.leaderboard-second-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(1){
    color: hsl(0, 0%, 75%) !important;
}
/* HOVER ROW */
.leaderboard-first-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(2):hover{
    text-shadow: 0px 0px 10px hsl(0, 0%, 75%);
    transition: text-shadow 0.4s ease-in-out;
}


/* POSITION */
.leaderboard-third-rank> div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(3) > td:nth-child(1){
    color: rgba(190, 133, 26, 0.849) !important;
}
/* NAME */
.leaderboard-third-rank> div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(3) > td:nth-child(2){
    color: rgba(190, 133, 26, 0.849) !important;
}
/* HOVER ROW */
.leaderboard-first-rank > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(3):hover{
    text-shadow: 0px 0px 10px rgba(190, 133, 26, 0.849);
    transition: text-shadow 0.4s ease-in-out;
}


#leaderboard table {
    z-index: 1;
    font-family: Roboto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(50px);
}

#leaderboard p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

#leaderboard table caption {
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
  
    font-size: 18px;
    font-weight: 300;
}

#leaderboard table th {
    padding: 10px 0px 10px 10px;
    text-align: left;
    font-size: 22px;
    font-weight: 300;
}

#leaderboard table tbody tr {
    line-height: 1.2;
    height: 60px;
    border-radius: 10px;
}

#leaderboard table tbody td {
    position: relative;
    z-index: 1;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #eee;
    overflow: hidden;
}

#leaderboard thead {
    position: relative;
    color: white;

}


#leaderboard table tbody td:nth-child(1) {
    font-weight: 500;
}



#leaderboard table tbody td:nth-child(2) {
    font-weight: 500;
}

.table-leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 180px 0 180px;

}

.pagination {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
    color: white;
}

.pagination button {
    padding: 8px 12px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: text;
}

.pagination button.active {
    background-color: #40008e50;
    color: white;
    border-radius: 10px;
}

.page-info {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.head-leaderboard-glow {
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
    border-radius: 20px;
    /* background-color: rgba(104, 0, 107, 0.247); */
}

.table-leaderboard-glow {
    box-shadow: 0 0 10px rgba(179, 0, 255, 0.7);
    border-radius: 20px;
    /* background-color: rgba(104, 0, 107, 0.247); */
}

.table-tr-hover:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: text-shadow 0.4s ease-in-out;
}