

#support h3 { 
    text-align: left;
    font-size: 30px;
}



#support p {
    text-align: left;
    font-size: 20px;
    border-radius: 20px;
}

#support {
    font-family: 'Rajdhani', sans-serif;
    padding-top: 120px;
}

.support-text {
    max-width: 60%;
    margin: 0 auto;
    background-color: #00000040;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(187, 134, 252, 0.3);
    font-size: 20px;
    line-height: 1.9;
    color: #f0f0f0;
    animation: 1.5s infinite alternate shadowEffect;
}

.support-text p {
    margin-bottom: 25px;
}

.support-text strong {
    color: #bb86fc;
    font-weight: 700;
}

.support-text em {
    font-style: italic;
    color: #aaa;
}